<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NotaTank_OS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <NotaTank_OS.My.MySettings>
            <setting name="NotaTank_OS" serializeAs="String">
                <value>Home [Trial]</value>
            </setting>
            <setting name="NotaTank_OS_Activated" serializeAs="String">
                <value>Home</value>
            </setting>
        </NotaTank_OS.My.MySettings>
    </userSettings>
</configuration>
